<div class="site-content-warp">

	<!-- Left Side section -->
	<div class="main-sidebar">
		<div class="mb-warp container">
			<span class="site-logo-small">
				<h2 class="text">Future<br>world-class<br>Developer.</h2>
			</span>
			<div class="about-info pt-4">
				<p>I've been teaching myself how to code since I was 13. I mostly develop with JavaScript/TypeScript, PHP, and Dart. I have experience with AWS, Flutter, Node.js, Firebase, Angular, Vue, and React. Contact me: 
					<a class="box-item mr-2 ml-2" href="https://github.com/JoshuaR503"><i class="fab fa-github"></i></a>
					<a class="box-item mr-2" href="https://www.linkedin.com/in/joshua-garc%C3%ADa-306001184/"><i class="fab fa-linkedin"></i></a>
					<a class="box-item mr-2" href="mailto:joshuagarcia000@outlook.es"><i class="fas fa-envelope"></i></a>
				</p>
			</div>
		</div>
	</div>

	<!-- Left Side section end -->
	<!-- Page start -->
	<div class="page-section portfolio-page">
		<div class="portfolio-section">
			<div class="row">
				<div class="col-md-6">
					<div class="portfolio-item">
						<img src="img/portfolio/dart.png">
						<div class="pi-info">
							<h5>Vocabulary Builder</h5>
							<p>Built with Flutter</p>
							<a href="/showcase/flutter"><img src="img/arrow-right.png"></a>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="portfolio-item">
						<img src="img/portfolio/node.png">
						<div class="pi-info">
							<h5>Vocabulary Builder Server</h5>
							<p>Built with Node and AWS</p>
							<a href="/showcase/node"><img src="img/arrow-right.png"></a>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="portfolio-item">
						<img src="img/portfolio/vue.png">
						<div class="pi-info">
							<h5>Vocabulary Builder Dashboard</h5>
							<p>Built with Vue</p>
							<a href="/showcase/vue"><img src="img/arrow-right.png"></a>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="portfolio-item">
						<img src="img/portfolio/php.png">
						<div class="pi-info">
							<h5>Catalogit WordPress Plugins</h5>
							<p>Professional Development</p>
							<a href="/showcase/catalogit"><img src="img/arrow-right.png"></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="copyright"><p>Made with ❤️ by Joshua García</a>
	</div>
	<!-- Page end -->
</div>