	<div class="main-site-warp">


		<div class="container">

			<br>
			<br>

			<!-- Left Side section end -->
			<!-- Page start -->
			<div class="page-section blog-page">
				<div class="blog-posts">
					<div class="blog-post-item">
						<div class="blog-thumb set-bg" data-setbg="/img/portfolio/node.png">

						</div>
						<div class="blog-content">
							<h2>Vocabulary Builder Server</h2>
							<div class="blog-metas">
								<div class="blog-meta">Node.js</div>
								<div class="blog-meta">TypeScript</div>
								<div class="blog-meta">JavaScript</div>

								<div class="blog-meta"><a href="/">Home</a></div>

							</div>
							<p>
								Vocabulary Builder Server is a Node.js based server which is was built in TypeScript and the Express.js framework. The server's code went under a massive restructuring to improve its reliability and maintance. It was originally built with JavaScript, but after a series of bugs and securities concerns, I decided to switch everything into the static-typed programming language TypeScript. The server provides an API to feed content into <a href="https://play.google.com/store/apps/details?id=com.herokuapp.backend.another&hl=es">The Vocabulary Builder</a> app. 
							</p>
						</div>
					</div>
				</div>
			</div>
			<!-- Page end -->
		</div>

	</div>