<!-- Main section start -->
<div class="main-site-warp">
	<div class="container">
		<br>
		<br>
		<!-- Left Side section end -->
		<!-- Page start -->
		<div class="page-section blog-page">
			<div class="blog-posts">
				<div class="blog-post-item">
					<div class="blog-thumb set-bg" data-setbg="/img/portfolio/vue.png">
					</div>
					<div class="blog-content">
						<h2>Vocabulary Builder Dashboard</h2>
						<div class="blog-metas">
							<div class="blog-meta">Vue.js</div>
							<div class="blog-meta"><a href="/">Home</a></div>
						</div>
						<p>Vocabulary Builder Dashboard was originally built with Angular.js but soon after the lack of experience and clumsy code that I wrote, I decided to change to Vue.js. Vue.js was a simple and easy-to-use framework that fitted the needs of the Dashboard panel. </p>
						<p>The Dashboard became a need after building the Vocabulary Builder Server which needed a graphic interface. Before building the Dashboard I would use Postman to make CRUD operations. The Dashboard serves to monitor bugs, add and update content, and read user's feedback left from the app. </p>
					</div>
				</div>
			</div>
		</div>
		<!-- Page end -->
	</div>
</div>
<!-- Main section end -->